* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}