.login {
    width: 400px;
    margin: 100px auto;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    border: 1px solid #ddd;
    border-radius: 10px;
}
.login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login input {

    height: 35px;

    padding-left: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;

}


.login button {

    height: 40px;

    background-color: black;
    color:white;

    border:none;
    border-radius:5px;

    cursor:pointer;

}