.logsTotal{
    width: 100%;
}
.logsTitles{
    display: grid;

    grid-template-columns: 1fr 100px 1fr 1fr 1fr;

    align-items: center;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--card-color);
    border-bottom: 1px solid var(--border-color);
}
.logRow{
    display: grid;

    grid-template-columns: 1fr 100px 1fr 1fr 1fr;

    align-items: center;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--card-color);
    border-bottom: 1px solid var(--border-color); 
}
.logRow:hover {
    background-color: var(--bg-color);
}
