.product-edit-Btns .changePriceBtn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}
.product-edit-Btns .changePriceBtn:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
}
.product-edit-Btns .cancelPriceBtn {
  color: var(--text-secondary);
}