.product-del-modal{
    position: fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(0,0,0,0.4);
    z-index: 998;
}

.delProduct{
    background: white;

    width:50%;
    max-width:600px;
    padding: 30px;

    border-radius: 10px;
}

.product-del-detail div{
    margin: 20px;
}

.product-del-Btns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
}

.product-del-Btns button{
    padding: 4px;
}

.del-product-btn:hover{
    background-color: rgb(255, 168, 168);
}