.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    font-size: 20px;
    font-weight: 600;
}


.header-user {
    font-size: 14px;
}