.modal-pop.product-detail-pop {
    width: 600px;
}
.product-details {
    display: flex;
    gap: 24px;
    padding: 24px 0;
}
.leftPhoto{
    width:200px;
    height:200px;
    
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color);
    border-radius: 8px;
    overflow: hidden;
}
.leftPhoto img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rightInfo{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}


